*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{

    background-color: #f2f2;
    align-items:center;
    justify-content: center;
    display: flex;
}




/* main section */









.main{

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;
    height: 70%;
    width: 70%;

    align-items: center;
}







.top-main{
    width: 80%;
    display: flex;
   
    margin-top: 5rem;
    background-color: red;
    padding: 50px;
}




.sub-main1{
   
   width: 50%;

 
    
    
}

.top-text h1{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 28px;
}

.bottom-text p{
    font-size: 15px;
   
    
}


.box-1{
    width: 25rem;
  
    justify-content: center;
    align-items:  center ;
    display: flex;
    flex-direction: column;

    margin-left: 0px;
}

.sub-box1{
    margin-left: -80px;
}


.sub-box2{

    margin-left: 10px;
}


.sub-box3{
    margin-left:  80px;
}


.sub-main2{
    width: 30%;
    margin-left: 20px ;
}




#rating{

    margin-top: 5px ;


    background-color: #f7f2f7;
    font-size: 7px;
    display: flex;
    align-items: center;
    width: 70%;
    text-align: center;
    justify-content: space-between;
    padding: 10px 20px;

    border-radius: 10px;
    box-shadow: 3px 3px #927B91;
}

#rating i{
    color: #ef9546 ;
}


.bottom-main{
    width: 80%;
    height: auto;
    display: flex;
    background-color: blueviolet;
    padding: 10px 50px;

}




.profile-box-1{
    width: 50px;
    height: 50px;

    margin-left: 0px;


    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  background-image: url(daniel.jpg);
 
    background-color: yellow;
   background-size: cover;
    border-radius: 50%;


}


.profile-text-1 h2{
font-size: 13px;
margin-bottom: 0px;
color: white;
}

.profile-text-1 h4{
    font-size: 13px;
    margin-top: 0px;
    color: #ee69a4;
  
}


#review-text{
    font-size: 13px;
    color: white;
}
#review-box-1{

    background-color: #512051;
    height: 10rem;
    width: 17rem;
    padding: 10px;

    border-radius: 10px;
}

#review-header{
    display: flex;
    gap: 1.5rem;
    
}

.profile-text-2{




}




@media  (max-width: 1200px){



    html{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        justify-content: center;  
        

    }

    .main{
        width:80%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
       
    }
 .top-main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(211, 247, 247);

        align-items: center;
        height: auto;
        gap: 2rem;
    


      
    }

      

    .sub-main1{
        width: auto;
        text-align: center;
      
    }


    .sub-main2{
        display: flex;
        justify-content: center ;  

    }
    .box-1{
        justify-content: center;
        background-color: #ee69a4;
        padding: 0 200px;
    }


    #rating{
        width: 100%;
        height: 5rem;
    }
}